.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

.env
.env.*
backend/.env
frontend/.env
frontend/client/.env

venv/
backend/venv/
.env/venv/
__pycache__/
*.py[cod]
*.pyo

*.egg-info/
.dist-info/
build/
dist/
pip-wheel-metadata/

backend/static/
*.log

node_modules/
frontend/node_modules/
frontend/client/node_modules/

dist/
frontend/dist/
frontend/dist/**
frontend/client/dist/

.vite/

pnpm-lock.yaml
coverage/
.vitest/

*.cache
*.tmp

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

components.json
*.local
